* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	background-color: black;
	width: 100%;
	height: 60vh;
}

.outer {
  top:-20;
	position: relative;
	background: transparent;
	height: 350px;
	width: 500px;
	overflow: hidden;
	display: flex;
  align-items: center;
  border: 7px solid #01fcfc;
  border-radius: 38px;
  margin-right: 700px;

}
.content {
	animation-delay: 0.3s;
	position: absolute;
	left: 20px;
	z-index: 3

}

h1 {
	color: #fff;
}

p {
	width: 280px;
	font-size: 13px;
	line-height: 1.4;
	color: #aaa;
	margin: 20px 0;

}

.bg {
	display: inline-block;
	color: #fff;
	background: cornflowerblue;
	padding: 5px 10px;
	border-radius: 50px;
	font-size: .7em;
}
.cart-icon {
	padding-right: 8px;

}

.footer {
	position: absolute;
	bottom: 0;
	right: 0;
}
