<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>MovieMesh</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
      <link rel="stylesheet" href="static/search.css">

</head>

<body>

  <section class="nav-bar">
  <div class="nav-container">
    <div class="brand">
      <a href="index.html"><img src="static/logo(2).png"></a>
    </div>
    <nav class="fill">
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Service</a>
        </li>
        <li>
          <a href="#!">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<div id="cover">
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">

      <form method="get" action="/result" class="searchbar">
          <input class="search_input" type="text" name="find" placeholder="Enter Movie">
          <button type="submit" class="search_icon" style="border: none; text-decoration: none; color: aqua; font-size: 61px;"><i class="fa fa-arrow-circle-right"></i></button>
      </form>
      </div>
  </div>
  </div>
</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script  src="script.js"></script>
</body>

</html>
